<% if !logged_in? %>  
  <div id="login">
   <div class="lForm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="text-center", id=yellowColor>Login</h1>
          </div>
          <%= form_for(:session, :html => {class: "form col-md-12 center-block", role: "form"}, url: login_path) do |f| %>
            <div class="form-group" style="padding-top:20px;">
              <%= f.label :email, :id =>"yellowColor" %>
              <%= f.email_field :email, class: "form-control", placeholder: "Enter Email", autocomplete: "off" %>
            </div>
            <div class="form-group">
              <%= f.label :password, :id =>"yellowColor" %>
              <%= f.password_field :password, class: "form-control", placeholder: "Enter Password", autocomplete: "off" %>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <%= f.submit "Log in", class: 'btn btn-lg buttonmain' %>
              </div>
          <% end %>
            </div>
          <div class="modal-footer"><%= link_to "Don't Have An Account Yet?", signup_path, :id =>"yellowColor" %></div>
        </div>
      </div>
    </div> 
  </div> 
<% else %>
  <% controller.redirect_to root_path %>
<% end %>
  
