<div id="login">
 <div class="lForm" style="filter: blur(5px);">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-center">Login</h1>
        </div>
        <div class="modal-body">
          <%= form_for(:session, :html => {class: "form col-md-12 center-block", role: "form"}, url: login_path) do |f| %>
            <div class="form-group" style="padding-top:20px;">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autocomplete: "off" %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control", placeholder: "Enter Password", autocomplete: "off" %>
            </div>
            <div class="form-group">
              <%= f.submit "Log in", class: 'btn btn-primary btn-lg' %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer"><%= link_to "Don't Have An Account Yet?", signup_path %></div>
      </div>
    </div>
  </div> 
</div> 


