<div id="login">
  <div class="lForm">
      <%= render 'shared/errors', obj: @article %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-center", id=yellowColor><%= (@article.new_record? ? "New Article" : "Edit Article") %></h1>
        </div>
        <%= form_for(@article, :html => {class: "form col-md-12 center-block", multipart: true, role: "form"}) do |f| %>
          <div class="form-group" style="padding-top:20px;">
            <%= f.label :title, :id =>"yellowColor" %>
            <%= f.text_field :title, class: "form-control", placeholder: "Title", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.label :description, :id =>"yellowColor" %>
            <%= f.text_area :description, class: "form-control", placeholder: "Article's Body", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.label :picture, :id =>"yellowColor" %>
            <%= f.file_field :avatar %>
          </div>          
          <div class="modal-body">
            <div class="form-group">
                <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
                  <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(id: "checkbox") + cb.text} %>
                <% end %>
            </div>
            <div class="form-group">
              <%= f.submit(@article.new_record? ? "Create" : "Update", class: 'btn btn-lg buttonmain') %>
            </div>
        <% end %>
        </div>
        <div class="modal-footer"><%= link_to "Cancel request and return to articles listing", articles_path, :id =>"yellowColor" %></div>
      </div>
    </div>
  </div> 
</div> 