<div class="wrap">
  <div class="floatleft">
    <div id="in" class="col-md-12">
      <header>
        <div class="content text-center wow distance_from_top">
          <h1>ALL ARTICLES</h1>
          <p style="margin-top:60px;">
            <% if logged_in? %>
              <%=link_to "NEW ARTICLE", new_article_path, {:class => "btn btn-outline btn-artp btn-lg"} %>
            <% end %>
            <%=link_to "HOME", root_path, {:class => "btn btn-outline btn-artp btn-lg"} %>
            <%=link_to "CATEGORIES", categories_path, {:class => "btn btn-outline btn-artp btn-lg"} %>
          </p>
        </div>
      </header>
    </div>
  </div>
  <div class="floatright">
    <div style="margin-top:60px;">
      <div class="center">
        <h2>ARTICLES</h2>
        <%= will_paginate %>
        
  </div><%= render 'article', obj: @articles %>
</div>

