<div id="content"><%= image_tag @article.avatar.url, :style => "height:500px; width:100%;" %></div>
<div id="content" class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <section class="post single wow fadeIn">
        <header>
          <h1 class="title">
            <%= @article.title %>
          </h1>
          <p class="meta">
            Created by: <%= @article.user.username if @article.user %>, <%= time_ago_in_words(@article.created_at) %> ago,
            last updated: <%= time_ago_in_words(@article.updated_at) %> ago
          </p>
        </header>
        <div class="description">
          <p>
            <%= simple_format(@article.description) %>
          </p>
        </div>
      </section>
    </div>
  </div>
</div>