<%= render 'shared/errors', obj: @user %>

<div id="signup">
  <div class="lForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-center", id=yellowColor>SignUp</h1>
        </div>
        <%= form_for(@user, :html => {class: "form col-md-12 center-block", multipart: true, role: "form"}) do |f| %>
          <div class="form-group" style="padding-top:20px;">
            <%= f.label :username, :id =>"yellowColor" %>
            <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.label :email, :id =>"yellowColor" %>
            <%= f.email_field :email, class: "form-control", placeholder: "Enter Email", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.label :password, :id =>"yellowColor" %>
            <%= f.password_field :password, class: "form-control", placeholder: "Enter Password", autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.label :picture, :id =>"yellowColor" %>
            <%= f.file_field :avatar %>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.submit "SignUp", class: 'btn btn-lg buttonsign' %>
            </div>
        <% end %>
          </div>
        <div class="modal-footer"><%= link_to "Cancel Request And Return To Home", root_path, :id =>"yellowColor" %></div>
      </div>
    </div>
  </div> 
</div> 